.novelreader {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  &__title {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 576px) {
      padding: 20px 40px;
      align-items: center;
      flex-direction: row;
    }

    &__links {
      a {
        color: inherit;
      }
    }

    button {
      font-size: 18px;
    }

    p,
    h6 {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__view {
    padding: 20px;
    font-size: 20px;
    font-weight: normal;

    @media (min-width: 576px) {
      padding: 40px;
    }
  }
}
