.container {
  max-width: 960px;
}

.section {
  &__popular,
  &__sortlist {
    margin: 30px auto;
  }
}

.pagination {
  margin-bottom: 0;
}

.flex--fix {
  flex: 1;
}

.border {
  border: 1px solid rgba(235, 235, 235, 0.9) !important;
  border-radius: 10px !important;
}

.box-shadow {
  box-shadow: rgba(15, 15, 15, 0.35) 0px 5px 15px !important;
}

body {
  transition: background 0.2s ease-in-out;
}

body.dark {
  background-color: #1e1e1e;
  color: rgb(235, 223, 223);

  a {
    color: rgb(235, 223, 223) !important;
  }

  .page-link {
    color: gray !important;
  }

  .border {
    border: 1px solid rgba(235, 235, 235, 0.5) !important;
    border-radius: 10px !important;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px !important;
  }

  select {
    background-color: #1e1e1e !important;
    color: rgb(235, 223, 223) !important;
  }
}
