.container {
  max-width: 960px;
}

.section {
  &__popular,
  &__sortlist {
    margin: 30px auto;
  }
}

.pagination {
  margin-bottom: 0;
}

.flex--fix {
  flex: 1;
}

body {
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
    color: rgb(235, 223, 223);

    a {
      color: rgb(235, 223, 223) !important;
    }

    select {
      background-color: #1e1e1e !important;
      color: rgb(235, 223, 223) !important;
    }
  }
}
